<% if !user_signed_in? %> 
  <div class="jumbotron">
    <h1>最真實的餐廳評分</h1>
    <p>參熊是個吃貨，喜歡跑遍城市巷弄去尋找任何好吃的東西，曾經創下一個月內增胖十公斤的紀錄，只為吃過所有好吃的食物。他的口味不喜歡過甜，巧克力都選黑巧克力，其他應該跟大家都一樣。參熊雖然不是廚師，但是也能燒一手好菜，香菇雞湯、蛋餅、蚵仔煎、手工饅頭、手工水餃、義大利麵、燉飯、pizza、千層麵、焗烤通通難不倒他，只為吃好吃的食物，造就他挑惕的嘴，還有圓滾滾的肚子。</p>
    <p><%= link_to "登入寫下你的評價", new_store_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>



<!-- Button trigger modal 
data-target="#myModal" in button must have same id="myModal" in Modal


-->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  新增
</button>



<div class="row" id="stores-index">
  <%= render @stores %>
</div>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= render 'ajaxform', store: @store %>
        
      </div>
    </div>
  </div>
</div>















<!--                           script                          -->



<script>
    $('.star-show').raty({
      path: '/assets/',
      readOnly: true,
      half  : true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      half  : true,
      size      : 32,
      scoreName: 'store[rate]',
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>