<% if !user_signed_in? %> 
  <div class="jumbotron">
    <h1>最真實的餐廳評分</h1>
    <p>參熊是個吃貨，喜歡跑遍城市巷弄去尋找任何好吃的東西，曾經創下一個月內增胖十公斤的紀錄，只為吃過所有好吃的食物。他的口味不喜歡過甜，巧克力都選黑巧克力，其他應該跟大家都一樣。參熊雖然不是廚師，但是也能燒一手好菜，香菇雞湯、蛋餅、蚵仔煎、手工饅頭、手工水餃、義大利麵、燉飯、pizza、千層麵、焗烤通通難不倒他，只為吃好吃的食物，造就他挑惕的嘴，還有圓滾滾的肚子。</p>
    <p><%= link_to "登入寫下你的評價", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @stores.each do |store| %>
    <div class="col-sm-6 col-md-4 col-lg-3 " id="index-store" >
      <div class="store">
          <div class="thumbnail">
            <%= link_to (image_tag store.img.url(:medium), class: 'image'), store %>
          </div>
          <div class="caption">
            <% if store.avg_rating==0 %>
              <h4>No reviews just yet</h4>
            <% else  %>
                <div class="star-rating " data-score= <%= store.avg_rating %> ></div>
            <% end %>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem velit vero nobis nostrum sit ipsa impedit provident corporis debitis nam.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div><!-- class="caption"-->
      </div> 
    </div>
  <% end %>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      half  : true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>