@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #d9d9d9;
}

.review_title {
	margin: 0 0 20px 0;
}
.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}

.img{text-align: center;margin-bottom: 10px;}



.avg_rate{text-align: center;margin-bottom: 10px;}