<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2016 Foodie Rating App
    <br>Design by <a href="http://www.fujifilm-x.ml" target=_new>參熊</a>
  </p>
</footer>
